*{
    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=submit]{
    font-size: 5rem;
    padding: 2rem;
    background-color: #101010;
    color: goldenrod;
    transition: all 0.5s ease-in-out;
    outline: none;
    border-radius: 1em;
}

input[type="submit"]:hover{
    color: rgb(255, 217, 0);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: goldenrod;
    color: black;
}
